@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenue sur MobiliT !</h1>
        <p class="lead">MobiliT est une application conçue dans le but d'aider à la mobilité professionnelle des entreprises.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
</main>